<template>
    <v-row>
      <h2 v-if="update === false">Création d'une nouvelle question</h2>
      <h2 v-if="update === true">Modifier une question</h2>
      <div class="input-field">
        <form action="#" method="POST" v-on:submit.prevent>
          <v-row>
            <div class="manager_question_form">
              <div class="col s6 offset-s3">
                <input type="text" name="conf_name" id="conf_name" placeholder="Question" v-model="question.title" @input='sendInfo()'>
              </div>
                <br>

              <div id="answers">
                <div class="col s6 offset-s3">
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 1" v-model="question.answer_0" @input='sendInfo()'></div>
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 2" v-model="question.answer_1" @input='sendInfo()'></div>
                </div>
                <div class="col s6 offset-s3">
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 3" v-model="question.answer_2" @input='sendInfo()'></div>
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 4" v-model="question.answer_3" @input='sendInfo()'></div>
                </div>
                <div class="col s6 offset-s3">
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 5" v-model="question.answer_4" @input='sendInfo()'></div>
                  <div class="col s6"><input type="text" name="answer" id="answer" placeholder="Reponse 6" v-model="question.answer_5" @input='sendInfo()'></div>
                </div>
              </div>
              <br>
              <br>
              <div class="col s6 offset-s3">
                <select name="diagram_type" id="diagram_type">
                  <option value="piechart">Piechart</option>
                  <option value="doughnutchart">Doughnutchart</option>
                </select>
              </div>
              <br>
              <br>
              <div class="col s6 offset-s3">
                <button @click="add(); resetForm()" class="deep-purple lighten-1 btn-large waves-effect waves-light" v-if="update === false">Ajouter la question</button>
                <button @click="add(); resetForm()" class="deep-purple lighten-1 btn-large waves-effect waves-light" v-if="update === true">Modifier la question</button>
              </div>
            </div>
          </v-row>
        </form>
      </div>
    </v-row>
</template>

<script>
export default {
  name: 'ManagerQuestionForm',
  data () {
    return {
      question : {
        title: '',
        answer_0: '',
        answer_1: '',
        answer_2: '',
        answer_3: '',
        answer_4: '',
        answer_5: '',
      },
      qId : 0
    }
  },
  props: ['update', 'quest', 'add'],

  methods : {
    sendInfo : function () {
      this.$emit('input', {
        title : this.question.title,
        answer_0 : this.question.answer_0,
        answer_1 : this.question.answer_1,
        answer_2 : this.question.answer_2,
        answer_3 : this.question.answer_3,
        answer_4 : this.question.answer_4,
        answer_5 : this.question.answer_5,
        id : this.qId
      })
    },

    resetForm : function () {
      this.question = {};
    },

    loadQuest : function() {
      if (this.update == true) {
        this.question['title'] = this.quest['title'];
        this.qId = this.quest.id;

        for (let j = 0; j < 10; j++) {
          this.question['answer_'+j] = this.quest.answers[j];
        }

        this.sendInfo();
      }
    }
  },

  watch : {
    quest: function (){
      this.loadQuest();
    }
  },

  created () {
    this.loadQuest();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.hidden {
  display: none;
}
</style>
