<template>
  <div class="hello">
    <router-link :to="'/'" alt="Home"><img src="src/assets/logo.png" alt="logo" name="logo" class="logo"></router-link>
    <p v-if="errorMessage != ''" class="error">{{ errorMessage }}</p>
    <form action="#" v-on:submit.prevent> 
      <input type="text" name="code1" value="0" class="inputCode" readonly v-model="completeCode[0]">
      <input type="text" name="code2" value="0" class="inputCode" readonly v-model="completeCode[1]">
      <input type="text" name="code3" value="0" class="inputCode" readonly v-model="completeCode[2]">
      <input type="text" name="code4" value="0" class="inputCode" readonly v-model="completeCode[3]">
      </br>
      </br>
      <div class="col s6 offset-s3">
        <button @click="addCodeNumber(1)" class="deep-purple lighten-1 btn-large waves-effect waves-light">1</button>
        <button @click="addCodeNumber(2)" class="deep-purple lighten-1 btn-large waves-effect waves-light">2</button>
        <button @click="addCodeNumber(3)" class="deep-purple lighten-1 btn-large waves-effect waves-light">3</button>
      </div>
      </br>
      <div class="col s6 offset-s3">
        <button @click="addCodeNumber(4)" class="deep-purple lighten-1 btn-large waves-effect waves-light">4</button>
        <button @click="addCodeNumber(5)" class="deep-purple lighten-1 btn-large waves-effect waves-light">5</button>
        <button @click="addCodeNumber(6)" class="deep-purple lighten-1 btn-large waves-effect waves-light">6</button>
      </div>
      </br>
      <div class="col s6 offset-s3">
        <button @click="addCodeNumber(7)" class="deep-purple lighten-1 btn-large waves-effect waves-light">7</button>
        <button @click="addCodeNumber(8)" class="deep-purple lighten-1 btn-large waves-effect waves-light">8</button>
        <button @click="addCodeNumber(9)" class="deep-purple lighten-1 btn-large waves-effect waves-light">9</button>
      </div>
      </br>
      <button @click="addCodeNumber(0)" class="deep-purple lighten-1 btn-large waves-effect waves-light">0</button>
      </br>
      </br>
      <input @click="redirectRoom" type="submit" value="Valider" class="deep-purple lighten-1 btn-large waves-effect waves-light">
      <button @click="eraseCodeNumber" class="deep-purple lighten-1 btn-large waves-effect waves-light">Supprimer</button>
    </form> 
  </div>
</template>

<script>

export default {
  name: 'Code',
  data () {
    return {
      errorMessage : "",
      completeCode : [],
      codeStep : 0,
      room : {}
    }
  },
  created () {
    self = this;
    //check room table from database and add the object into this.room
    let getRoom = firebase.database().ref('/room');
    getRoom.on('value', function(snapshot) { 
      self.room = snapshot.val();
    })
  },
  methods : {
    redirectRoom : function() {
      //Concatenation of the 4 code digit
      let code = String(this.completeCode[0]) + String(this.completeCode[1]) + String(this.completeCode[2]) + String(this.completeCode[3]);
      if (code.length<4) {
        this.errorMessage = "Erreur : Code trop court"
      //Check in the database if this room's id exist
      }else if(this.room.hasOwnProperty(code)){
        this.$router.push("room/"+code);
      }else{
        this.errorMessage = "Erreur : Cette conférence n'existe pas encore"
      }
    },
    //Pop out the last digit
    eraseCodeNumber : function(){
      if (this.completeCode.length>0) {
        this.completeCode.pop();
      }
    },
    //Push a new digit in the code but not more than 4
    addCodeNumber : function(_code) {
      if (this.completeCode.length<4) {
        this.completeCode.push(_code);
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.inputCode{
  width: 1%;
  font-size : 2em;
}
.logo{
  max-width: 200px;
}
.error {
  color: red;
  font-size: 1.2em;
}
</style>