<template>
  <div class="User">
    <div v-if="roomIsActive">
      <div class="UserQuestion" v-if="inQuestion">  
  			<h1>{{questionJson.title}}</h1>
    		<button v-for="answer in answerPosibilities" @click="writeUserData( answer )" class="answerButton">{{ answer }}</button>
        <div class="questionsProgression">
          <p>{{ questionId }} / {{ nbQuestions }}</p>
        </div>
      </div>
      <div class="UserWaiting" v-else>
        <h1>{{nameCompany}}</h1>
        <h2>Veuillez patienter jusqu'a la prochaine question</h2>
        <!--<img :src="imgCompany" alt="companyImage" name="companyLogo">-->
      </div>
    </div>
    <div v-else>
      <h2>La conférence n'est pas active.</h2>
    </div>
  </div>
</template>

<script>
import Firebase from '../assets/firebase'
window.$ = window.jQuery = require('jquery')

Firebase;

export default {
  name: 'User',
  data () {
    return {
      questionId : 1,
      userId : 1,
      conferenceId : 1,
      organisateur : 'organisateur',
      questionJson : {},
      answerPosibilities : {},
      nbQuestions : '?',
      imgCompany : '',
      nameCompany : '',
      inQuestion : true,
      curentRoom : {},
      code : "",
      roomIsActive : false
    }
  },

  methods : {
    writeUserData : function (_answer) {
      //get number of users with the length
      if("users_answers" in this.questionJson){
        let nbUsers = Object.keys(this.questionJson.users_answers).length;
        if (nbUsers > 0) {
          //userId = number of users +1, else = 1
          this.userId = nbUsers+1;
        }
        //set the answer in the database at the right position
        firebase.database().ref(this.organisateur+'/conferences/conference_'+ this.conferenceId+'/questions/question_' + this.questionId+ '/users_answers/user_'+this.userId).set({
          answer : _answer
        });
        localStorage.setItem('User', 'answered');
        this.inQuestion = false;
        console.log("send !");
      }else{
        //the first time that a User push answer we create users_answers in database
        let answerPush = {user_1 : { answer : _answer }};
        //set the answer in the database at the right position
        let ref = firebase.database().ref(this.organisateur+'/conferences/conference_'+ this.conferenceId+'/questions/question_' + this.questionId).child("users_answers").set(answerPush);
        localStorage.setItem('User', 'answered');
        this.inQuestion = false;
        console.log("send !");
      }
    }
  },

  created () {
    if(localStorage.getItem('User')){
      this.inQuestion = false;
    }
    let self = this;
    self.code = self.$route.params.roomid;
    //check room table and add the object into this.room
    let getCurrentRoom = firebase.database().ref('/room/'+self.code);
    getCurrentRoom.on('value', function(snapshot) { 
      self.curentRoom = snapshot.val();
      self.organisateur = self.curentRoom.userid;
      self.conferenceId = self.curentRoom.confid;
      self.roomIsActive = self.curentRoom.isactive;
      
      let getConference = firebase.database().ref(self.organisateur+'/conferences/conference_'+ self.conferenceId);
      let getQuestion = firebase.database().ref(self.organisateur+'/conferences/conference_'+ self.conferenceId+'/questions/question_'+self.questionId);

      //get the question number with the BDD
      getConference.on('value', function(snapshot) {
        self.questionId = snapshot.val().actual_question;
        self.nbQuestions = Object.keys(snapshot.val().questions).length;
        self.imgCompany = snapshot.val().logo;
        self.nameCompany = snapshot.val().entreprise_name;
      })
      //get the question Json object from BDD and the possible answers
      getQuestion.on('value', function(snapshot) { 
        self.questionJson = snapshot.val();
        self.answerPosibilities = self.questionJson.answers;
        self.answerPosibilities.splice(0,1); 
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.questionsProgression{
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
.UserWaiting img{
  max-width: 50%;
}

</style>